:root {
  --color-default-white: #ffffff;
  --color-default-black: #000000;
  --color-swamp: #253334;
  --color-jungle-mist: #bec2c2;
  --color-granny-smith: #7c9a92;
  --color-hint-of-red: #f7f3f0;
  --color-keppel: #69b09c;
  --color-eden: #2b5b54;
  --color-fern: #69b069;
  --color-parsley: #2b5b33;
  --color-shakespeare: #69a1b0;
  --color-teal-blue: #2b505b;
  --color-green-smoke: #9cb069;
  --color-saratoga: #595b2b;
  --color-turkish-rose: #b0696a;
  --color-jazz: #5b2b2c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}


html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
  font-family: "Alegreya", serif;
  font-weight: 400;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-swamp);
  color: var(--color-default-white);
}


a {
  color: var(--color-default-white);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  font-family: inherit;
  background-color: transparent;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}
